body {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  background-color: aquamarine;
  color: #333;
}
/* .texts {
  background-color: aliceblue;
  width: 50vh;
  margin: 0 auto;
  padding: 0px 20px 50px 20px;
} */